#controls {
/* Appearance */
  background-color: white;
  padding: 10px 10px 10px 10px;
  cursor: move;
/* Fade out while not hovering */
  opacity: 0.55;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#controls:hover {
/* Fade in while hovering */
  opacity: 0.75;
  transition-delay: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}

h1, h2, h3, h4 { font-weight: 400; }

table {
    border: solid 1px #2d2d2d;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Helvetica, sans-serif;
}
tr th {
    /*background-color: #DDEFEF;*/
    border: solid 1px #2d2d2d;
    color: #000000;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
td {
    border: solid 1px #2d2d2d;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}